flask
flask-cors



python -m pip install opentelemetry-instrumentation 
                      opentelemetry-distro 
                      opentelemetry-exporter-otlp

opentelemetry-bootstrap --action=install


